MONGODB_URI=mongodb+srv://vidhyakk7_db_user:mongo%40123@cluster0.8t35xeq.mongodb.net/netflix-clone?retryWrites=true&w=majority
JWT_SECRET=my_super_secret_jwt_key_2026_netflix_clone
TMDB_API_KEY=7289d4262ce537e728c4a44698ebfcee
NODE_ENV=production
FRONTEND_URL=https://netflix-clone-zeta-gray.vercel.app